<h2>Forecast for <%= forecast_info[:zipcode] %> (<%= forecast_info[:location] %>)</h2>

<div>
  <label>Temperature: </label><%= forecast_info[:temperature] %>
</div>
<div>
  <label>Conditions: </label><%= forecast_info[:conditions] %>
</div>
<div>
  <label>Wind: </label><%= forecast_info[:wind] %>
</div>