<!DOCTYPE html>
<html>
  <head>
    <title>WeatherApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless flash[:notice].blank? %>
      <div style="margin: 10px;
        font-weight: bold;
        border: 1px solid black;
        padding: 5px;
        background-color: beige;">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% unless flash[:error].blank? %>
      <div style="margin: 10px;
        font-weight: bold;
        border: 1px solid black;
        padding: 5px;
        background-color: lightcoral;">
        <%= flash[:error] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
